html,
body {
  padding: 0;
  margin: 0;
  scroll-snap-align: 26px;
  scroll-margin: 24px;
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#instagram-icon {
  transform: scale(.7)
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 250px;
  width: 250px
}

#squad-slides .swiper-slide,
#events .swiper-slide {
  background: rgba(1, 1, 1, .3);
}

#squad-slides .swiper-slide img {
  display: block;
  object-fit: contain;
  height: 500px;
  width: 100%;
}

html body .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after , .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color:#555 !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background:#555 !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root , .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  border:0.1px solid rgba(251,251,251,.9);
  color:#eee;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input , .css-1wc848c-MuiFormHelperText-root {
  color:#eee;
}
.mui-focused{
  border-color: red;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* Media Queries */
/* /////////////////////////////////////////// */
@media (max-width:900px) {
  #squad-slides .swiper-slide img {
    display: block;
    object-fit: contain;
    height: 250px;
    width: 100%;
  }
}